@import 'base';

.search-field {
    width: 400px;
    
    @include tabletSmall{
        width: 100%;
    }
  }

  #productListContent {

	display: flex;
justify-content: center;
	justify-content: center;
flex-wrap: wrap;
	flex-wrap: wrap;
  }