$white: #FFFFFF;
$white-second: #e3dfdf;
$black: #000000;
$gray: #afadae;
$gray-bk: #f6f8fa;
$gray-light: #d8dee4;
$gray-dark: #979797;
$gray-black: #292828;
$dark-one: #0d1117;
$dark-two: #161b22;
$dark-three: #21262d;
$dark-four: #30363d;
$dark-five: #252a2f;
$dark-one-light: #171e29;
$dark-two-light: #212832;
$dark-three-light: #2d343e;
$dark-four-light: #414953;
$dark-five-light: #384048;

//states
$primary-hover: #4a8cd7;
$secondary-hover: #3c3c6f;
$danger-hover: #c22d2d;
$danger-sweet-hover: #e2aaaad6;
$warning-hover: #b8891b;
$success-hover: #268b43;
$info-hover: #c0c0cb;


//extras
$primary: #58a6ff;
$secondary: #525297;
$danger: #fc3737;
$danger-sweet: #fbe7e7d6;
$warning: #ffbe48;
$success: #2da44e;
$info: #e3e3f0;
//extras
$primary-dark: rgb(2, 92, 145);
$secondary-dark: #3f3f75;
$danger-dark: #bf2929;
$danger-sweet-dark: #c99494d6;
$warning-dark: #d6a448;
$success-dark: #237e3d;
$info-dark: #b2b2bb;

