@import 'base';

#content {
  @include contentMinHeight();
  width: 100%;
  



  .home-content {
    padding: 20px;
  }

  .sidenav {
    padding: 20px;
    background-color: $primary-50-palette;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    
    .mat-drawer-inner-container{
      overflow: hidden !important;
    }


    #profileInfo {}

    #productCategories {
      margin-top: 40px;
    }
  }

}